<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>     
  <session-factory>
    <property name="connection.url">jdbc:filemaker://192.168.0.24/Contacts</property>
    <property name="connection.username">admin</property>
    <property name="connection.password">wakawaka</property>
    <property name="connection.driver_class">com.filemaker.jdbc.Driver</property>
    <property name="dialect">org.hibernate.community.dialect.FileMakerDialect</property>
    <property name="hibernate.hbm2ddl.auto">none</property>
    
    <!-- Debug logging -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.use_sql_comments">true</property>
    <property name="hibernate.generate_statistics">true</property>
    
    <!-- JDBC debug -->
    <property name="hibernate.jdbc.log.warnings">true</property>
    <property name="hibernate.jdbc.log">DEBUG</property>
    
    <!-- Connection pool settings -->
    <property name="hibernate.initial_pool_size">1</property>
    <property name="hibernate.min_pool_size">1</property>
    <property name="hibernate.pool_size">5</property>
    <property name="hibernate.pool_validation_interval">30</property>
    <property name="hibernate.autocommit">false</property>

    <!-- FileMaker specific settings -->
    <property name="hibernate.jdbc.use_get_generated_keys">false</property>
    <property name="hibernate.jdbc.use_scrollable_resultset">false</property>
    <property name="hibernate.jdbc.wrap_result_sets">false</property>
    
    <!-- Disable JTA -->
    <property name="hibernate.transaction.jta.platform">org.hibernate.service.jta.platform.internal.NoJtaPlatform</property>
      
    <mapping class="org.hibernate.community.dialect.test.Contact" />

  </session-factory>
</hibernate-configuration>
